<!DOCTYPE html>
<html >

  <head>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <link href="assets/css/style.css" rel="stylesheet">
   <script src="assets/js/app.js" type="javascript"></script>
  </head>

  <body>
    <div class="banner text-center">
      <h3>Contact</h3>
    </div>
    

    
  <div class="container">
 <div class="col-md-6">
    <div class="clear-space"></div>
        Not Meetup<br>
        809 W. Hill St.<br>
        Charlotte, NC 28202<br>
        <div class="clear-space"></div>
        <span class="glyphicon glyphicon-envelope"></span><a href="mailto:contact@notmeetup.com" alt=""> contact@railblazers.com</a><br>
        <span class="glyphicon glyphicon-phone"> 890-214-7578</span>
      </div>
    </div>
  </div>      
   <div class="container">
  
<div class="clear-space"></div>
  <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.1385460266365!2d-80.856768!3d35.227920999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a1d302253d6b%3A0x2d09b5a774967749!2s809+W+Hill+St%2C+Charlotte%2C+NC+28208!5e0!3m2!1sen!2sus!4v1420591612184" width="600" height="450" frameborder="0" style="border:0"></iframe>
   </div>
 </div>
 <div class="clear-space"></div>
           <div class="row">
          <!--<ul class="ds-btn">
            <li>-->
              <div class="text-center">
                <a class="btn btn-lg btn-primary" href="login.html">
                  <i class="glyphicon glyphicon-pencil pull-left"></i> Get Started - You're Beautiful
                </a> 
              </div>
            <!--</li>
          </ul>-->
          <div class="clear-space"></div>
        </div>
  </div><!--col -->
</div><!--end row-->

      
  </body>
</html>
