<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script data-require="jquery@*" data-semver="2.1.1" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="assets/js/app.js" type="javascript"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><img src="../HTML/assets/img/logo.png" alt="Railblazers" height="45px" /></a>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#">Groups</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </div>
        <div class="nav navbar-nav navbar-right">
          <span class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="dropdownMenu1">
                <img src="http://placehold.it/35x35" alt="avatar" class="img-circle" />
                <span class="caret"></span>
              </a>
              
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="../HTML/dashboard-settings.html">Settings</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Subscription</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Events</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Groups</a></li>
            </ul>
          </span>
          <button class="btn btn-default">Sign Out</button>

        </div>
      </div>
    </nav>
    
    <div ng-view></div>

    <div class="row">
      <!-- Filler space for accordion-->
      <div class="col-md-2 sidebar">
        <!--<button class="btn btn-default btn-lg btn-block">Settings</button>
        <button class="btn btn-default btn-lg btn-block">Subscription</button>
        <button class="btn btn-default btn-lg btn-block">Events</button>
        <button class="btn btn-default btn-lg btn-block">Groups</button>-->
        <div class="link-group text-center">
          <a href="../HTML/dashboard-settings.html" class="link">Settings</a>
          <a href="#" class="link">Subscription</a>
          <a href="#" class="link">My Events</a>
          <a href="#" class="link">My Groups</a>
        </div>
      </div>

      <!-- Main div -->
      <div class="col-md-10">
        <h1>Account Dashboard</h1>
        <ul class="breadcrumb">
          <li><a href="../HTML/dashboard-settings.html">Account Dashboard</a></li>
          <li><a href="../HTML/dashboard-settings.html">Settings</a></li>
        </ul>

        <div class="row">
          <div class="col-md-10">
            <!-- First form -->
            <form class="form-horizontal form-fieldset">
              <fieldset>
                <legend>Account Information</legend>
                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">Full Name:</label>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Enter name...">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">Email:</label>
                  <div class="col-md-5">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Enter email...">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">Password:</label>
                  <div class="col-md-5">
                    <input type="password" class="form-control" id="inputEmail3" placeholder="*******">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-2"></div>
                  <p class="help-block col-md-5">
                    <a href="" class="text-right">Change password</a>
                  </p>
                </div>
                <div class="pull-right">
                  <button class="btn btn-success green">Save</button>
                </div>
              </fieldset>
            </form>
            <div class="clear-space"></div>
            <!--second form-->
            <!-- First form -->
            <form class="form-horizontal form-fieldset">
              <fieldset>
                <legend>Profile Information</legend>
                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">Profile Picture:</label>
                  <div class="col-md-5">
                    <input type="file" class="form-control" id="inputEmail3">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">Bio:</label>
                  <div class="col-md-5">
                    <textarea class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">Social Networks:</label>
                  <div class="col-md-5">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="checkbox" id="inlineCheckbox3" value="option3"> Facebook
                        <!--<input type="text" class="form-control" placeholder="www.facebook.com" />-->
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="checkbox" id="inlineCheckbox3" value="option3"> Twitter
                        <!--<input type="text" class="form-control" placeholder="www.facebook.com" />-->
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="checkbox" id="inlineCheckbox3" value="option3"> YouTube
                        <!--<input type="text" class="form-control" placeholder="www.facebook.com" />-->
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="checkbox" id="inlineCheckbox3" value="option3"> Blogger
                        <!--<input type="text" class="form-control" placeholder="www.facebook.com" />-->
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="checkbox" id="inlineCheckbox3" value="option3"> Pinterest
                        <!--<input type="text" class="form-control" placeholder="www.facebook.com" />-->
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="checkbox" id="inlineCheckbox3" value="option3"> Tumblr
                        <!--<input type="text" class="form-control" placeholder="www.facebook.com" />-->
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="checkbox" id="inlineCheckbox3" value="option3"> Website
                        <!--<input type="text" class="form-control" placeholder="www.facebook.com" />-->
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">Show events publicly:</label>
                  <div class="col-md-5">
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Show events on profile to all members
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                        Show events on profile to only me
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                        Don't show events on profile
                      </label>
                    </div>
                  </div>
                </div>
               
                <div class="pull-right">
                  <button class="btn btn-success green">Save</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="clear-space"></div>

      
  </body>

</html>
