<!DOCTYPE html>
<html >

  <head>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="assets/js/app.js" type="javascript"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt="Railblazers" height="45px" /></a>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="about.html">About Us</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="nav navbar-nav navbar-right">
          <a class="btn btn-default" href="login.html">Login</button></a>
          <a class="btn btn-default" href="login.html">Sign Up</button></a>
        </div>
      </div>
    </nav>
   
    
    <div class="banner text-center">
      <h3>Frequently Asked Questions</h3>
    </div>
    
    <div class="clear-space"></div>
  <div class="container">
 <div class="col-md-12">
       <p><li>Q. The waves of time wash us all clean. This stuff, or whoever sent it, is cleverer than we are. </li>
       <li>A. Unfortunate, isn't it? Oh I'm so sorry, Jamie. An old friend of mine. Well, enemy. The stuff of nightmares reduced to an exhibit. </li></p>
       <p><li>Q. That's a relief. I hate babysitters. Blimey, trying to make an Ood laugh.</li>
       <li>A. It may be irrational of me, but human beings are my favorite species.</li></p> 
       <p><li>Q. Be a pal and tell me, Am I a good man?</li> 
       <li>A. I want to see the universe, not to rule it.</li></p>
    </div>
  </div>

    <div class="row">
          <!--<ul class="ds-btn">
            <li>-->
              <div class="text-center">
                <a class="btn btn-lg btn-primary" href="login.html">
                  <i class="glyphicon glyphicon-pencil pull-left"></i> Get Started - You're Beautiful
                </a> 
              </div>
            <!--</li>
          </ul>-->
          <div class="clear-space"></div>
        </div>
  </div><!--col -->
</div><!--end row-->




     <footer class="footer footer-inverse">
      <div class="footer-inner text-center">
        <ul>
          <li><a href="#"><img src="assets/img/twitter.png" alt="Twitter" /></a></li>
          <li><a href="#"><img src="assets/img/facebook.png" alt="Facebook" /></a></li>
          <li><a href="#"><img src="assets/img/blogger.png" alt="Blogger" /></a></li>
          <li><a href="#"><img src="assets/img/youtube.png" alt="YouTube" /></a></li>
        </ul>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="tos.html">Terms of Service</a></li>
        </ul>
        <p class="text-muted">&copy; Copyright 2015 Railblazers</p>
      </div>
    </footer>
      
  </body>

</html>
