<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Find Your Tribe!</h1>
    <p>Or, make your tribe – then organize it. Looking for fellow techies? Cyclists? Home Brewers? If you can't find your people, create a group and they will come! Then start connecting. Our basic membership is free, and you can join any group that catches your interest. Receive updates, invites, and enjoy the <strong>live chat</strong> option with other members for any event you're attending. Join at the <strong>Organizer</strong> level and expand your powers - create new groups, and organize events for them. Setting up new events is a breeze. If events have fees, attendees pay can easily and securely, right when they register.  </p>
        <button class="btn btn-success btn-lg green">Get Started for Free</button>
      </div>
    </div>
    
    <div class="banner text-center">
      <h3>Browse popular events in your area</h3>
    </div>
    
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-4" ng-repeat="event in events">
        <div class="pin-background">
          <h3>CLT Group</h3>
          <img src="http://placehold.it/250x250" alt="filler" />
          <h4 class="remove-margin">Event 1</h4>
          <p>Monday, December 30, 2014<br />
            7:30pm - 9:30pm
          </p>
          <p><strong>29 members going</strong></p>
          <button class="btn btn-danger btn-block red">RSVP</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-4" ng-repeat="event in events">
        <div class="pin-background">
          <h3>CLT Group</h3>
          <img src="http://placehold.it/250x250" alt="filler" />
          <h4 class="remove-margin">Event 1</h4>
          <p>Monday, December 30, 2014<br />
            7:30pm - 9:30pm
          </p>
          <p><strong>29 members going</strong></p>
          <button class="btn btn-danger btn-block red">RSVP</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-4" ng-repeat="event in events">
        <div class="pin-background">
          <h3>CLT Group</h3>
          <img src="http://placehold.it/250x250" alt="filler" />
          <h4 class="remove-margin">Event 1</h4>
          <p>Monday, December 30, 2014<br />
            7:30pm - 9:30pm
          </p>
          <p><strong>29 members going</strong></p>
          <button class="btn btn-danger btn-block red">RSVP</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-4" ng-repeat="event in events">
        <div class="pin-background">
          <h3>CLT Group</h3>
          <img src="http://placehold.it/250x250" alt="filler" />
          <h4 class="remove-margin">Event 1</h4>
          <p>Monday, December 30, 2014<br />
            7:30pm - 9:30pm
          </p>
          <p><strong>29 members going</strong></p>
          <button class="btn btn-danger btn-block red">RSVP</button>
        </div>
      </div>
    </div>
    <div class="row clear-space text-center">
      <button class="btn btn-success btn-lg green">Show me more!</button>
    </div>
    <div class="clearfix clear-space"></div>

    <footer class="footer footer-inverse">
      <div class="footer-inner text-center">
        <ul>
	  <li><a href="#"><%= image_tag "twitter.png", :alt => "Twitter" %></a></li>
	  <li><a href="#"><%= image_tag "facebook.png", :alt => "Facebook" %></a></li>
	  <li><a href="#"><%= image_tag "blogger.png", :alt => "Blogger" %></a></li>
	  <li><a href="#"><%= image_tag "youtube.png", :alt => "YouTube" %></a></li>
        </ul>
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="about">About Us</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="privacy">Privacy Policy</a></li>
          <li><a href="tos">Terms of Service</a></li>
        </ul>
        <p class="text-muted">&copy; Copyright 2015 Railblazers</p>
      </div>
    </footer>

    <script data-require="ui-bootstrap@*" data-semver="0.12.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <link rel="stylesheet" href="../HTML/assets/css/style.css" />
    <script src="../HTML/assets/js/app.js"></script>
      
  </body>

</html>
