<!DOCTYPE html>
<html >

  <head>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="assets/js/app.js" type="javascript"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt="Railblazers" height="45px" /></a>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="about.html">About Us</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="nav navbar-nav navbar-right">
        <a class="btn btn-default" href="login.html">Login</button></a>
        <a class="btn btn-default" href="login.html">Sign Up</button></a>
        </div>
      </div>
    </nav>
   
    
    <div class="banner text-center">
      <h3>Get Started!</h3>
    </div>

    <div class="container-fluid">
    <section class="container">
    <div class="container-page">        
      <div class="col-md-6">
        <h3 class="dark-grey">Sign Up</h3>
        
        <div class="form-group col-lg-12">
          <label>First Name</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>
        
        <div class="form-group col-lg-12">
          <label>Last Name</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-12">
          <label>City</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-12">
          <label>State</label>
          <input type="dropdown" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-12">
          <label>Interests</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>
        
        <div class="form-group col-lg-12">
          <label>Email Address</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>
                
        <div class="form-group col-lg-12">
          <label>Password</label>
          <input type="password" name="" class="form-control" id="" value="">
        </div>
        
        <div class="form-group col-lg-12">
          <label>Repeat Password</label>
          <input type="password" name="" class="form-control" id="" value="">
        </div>      

        <div class="col-sm-6">
          <input type="checkbox" class="checkbox" />Send notifications to this email
        </div>        
    
        
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>

  <div class="col-md-6">

    <h3 class="dark-grey">Login</h3>
        
        <div class="form-group col-lg-12">
          <label>Email</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>
        
        <div class="form-group col-lg-12">
          <label>Password</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>
         <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </section>
</div>
    
      
  </body>
</html>
