<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="assets/css/style.css" rel="stylesheet">
    
  </head>

  <body ng-app="myApp" ng-controller="MainController">
    <div class="row cheat-background" ng-view>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt="Railblazers" height="45px" /></a>
            <ul class="nav navbar-nav navbar-left">
              <li><a href="my-groups.html">Groups</a></li>
              <li><a href="my-events.html">Events</a></li>
            </ul>
          </div>
          <div class="nav navbar-nav navbar-right">
            <span class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="dropdownMenu1">
                  <img src="http://placehold.it/35x35" alt="avatar" class="img-circle" />
                  <span class="caret"></span>
                </a>
                
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="dashboard-settings.html">Settings</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="dashboard-settings.html">Subscription</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="my-events.html">My Events</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="my-groups.html">My Groups</a></li>
              </ul>
            </span>
            <button class="btn btn-default">Sign Out</button>

          </div>
        </div>
      </nav>

      
        <!-- Filler space for accordion-->
        <div class="col-md-2">
          <!--<button class="btn btn-default btn-lg btn-block">Settings</button>
          <button class="btn btn-default btn-lg btn-block">Subscription</button>
          <button class="btn btn-default btn-lg btn-block">Events</button>
          <button class="btn btn-default btn-lg btn-block">Groups</button>-->
          <!--<div class="link-group text-center">
            <a href="../HTML/dashboard-settings.html" class="link">Settings</a>
            <a href="#" class="link">Subscription</a>
            <a href="#" class="link">My Events</a>
            <a href="#" class="link">My Groups</a>
          </div>-->
          <nav class="navbar navbar-inverse sidebar" id="custom-sidebar" role="navigation">
          <div >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav"> <!--navbar-nav">-->
                <li><a name="dashboard-settings.html" href="dashboard-settings.html">Settings &nbsp;<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                  <li><a name="subscription" href="dashboard-subscription.html">Subscription &nbsp;<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-credit-card"></span></a></li>
                  <li><a name="myEvents" href="my-events.html">My Events &nbsp;<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></span></a></li>
                  <li class="active"><a name="myGroups" href="my-groups.html">My Groups &nbsp;<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-globe"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

        <!-- Main div -->
  <div class="col-md-10 content-background">
        <ul class="breadcrumb">
          <li><a href="dashboard-settings.html">Account Dashboard</a></li>
          <li><a href="my-groups.html">My Groups</a></li>
        </ul>
        <!--Tab Nav-->
 <div class="row">
  <div class="span12">
            
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#joined">My Groups</a></li>
  <li role="presentation"><a href="created-groups.html">Groups You've Created</a></li>
</ul>
  

           <!--/Tab Nav-->
  

        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>
                <h3 class="panel-title">
                    My Groups</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1 col-md-1">
                                <img src="http://placehold.it/80x80" alt="filler" /></div>
                          <div class="col-xs-10 col-md-11">
                                <div>
                                     <div>
                                   <h3>Ruby UpMeet</h3>
                                   <h4>67 Members</h4>
                                    <div class="mic-info">
                                        <h5>Next UpMeet</h5>
                                        <p>Amelie's<br>
                                         2.17.2015<br>
                                         3:30-5:30 PM</p>
                                    </div>
                                </div>
                                <div class="paragraph-text">
                                    Program the Rubies with others. Austin pop-up leggings. Vice selfies fixie, health goth retro small batch 8-bit Blue Bottle gastropub.
                                    <strong><p>34 members going</p></strong>
                                </div>
                                 <div class="action">
                                    <div class="row clear-space text-center">
                                     <a data-toggle="modal" href="#myModal" class="btn btn-danger">Leave Group</a>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </li>
                     <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1 col-md-1">
                                <img src="http://placehold.it/80x80" alt="filler" /></div>
                          <div class="col-xs-10 col-md-11">
                                <div>
                                     <div>
                                   <h3>Ruby UpMeet</h3>
                                   <h4>67 Members</h4>
                                    <div class="mic-info">
                                        <h5>Next UpMeet</h5>
                                        <p>Amelie's<br>
                                         2.17.2015<br>
                                         3:30-5:30 PM</p>
                                    </div>
                                </div>
                                <div class="paragraph-text">
                                    Program the Rubies with others. Austin pop-up leggings. Vice selfies fixie, health goth retro small batch 8-bit Blue Bottle gastropub.
                                    <strong><p>34 members going</p></strong>
                                </div>
                                 <div class="action">
                                    <div class="row clear-space text-center">
                                     <a data-toggle="modal" href="#myModal" class="btn btn-danger">Leave Group</a>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </li>
                     <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1 col-md-1">
                                <img src="http://placehold.it/80x80" alt="filler" /></div>
                          <div class="col-xs-10 col-md-11">
                                <div>
                                     <div>
                                   <h3>Ruby UpMeet</h3>
                                   <h4>67 Members</h4>
                                    <div class="mic-info">
                                        <h5>Next UpMeet</h5>
                                        <p>Amelie's<br>
                                         2.17.2015<br>
                                         3:30-5:30 PM</p>
                                    </div>
                                </div>
                                <div class="paragraph-text">
                                    Program the Rubies with others. Austin pop-up leggings. Vice selfies fixie, health goth retro small batch 8-bit Blue Bottle gastropub.
                                    <strong><p>34 members going</p></strong>
                                </div>
                                 <div class="action">
                                    <div class="row clear-space text-center">
                                     <a data-toggle="modal" href="#myModal" class="btn btn-danger">Leave Group</a>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </li>
                     <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1 col-md-1">
                                <img src="http://placehold.it/80x80" alt="filler" /></div>
                          <div class="col-xs-10 col-md-11">
                                <div>
                                     <div>
                                   <h3>Ruby UpMeet</h3>
                                   <h4>67 Members</h4>
                                    <div class="mic-info">
                                        <h5>Next UpMeet</h5>
                                        <p>Amelie's<br>
                                         2.17.2015<br>
                                         3:30-5:30 PM</p>
                                    </div>
                                </div>
                                <div class="paragraph-text">
                                    Program the Rubies with others. Austin pop-up leggings. Vice selfies fixie, health goth retro small batch 8-bit Blue Bottle gastropub.
                                    <strong><p>34 members going</p></strong>
                                </div>
                                 <div class="action">
                                    <div class="row clear-space text-center">
                                     <a data-toggle="modal" href="#myModal" class="btn btn-danger">Leave Group</a>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </li>
                      <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1 col-md-1">
                                <img src="http://placehold.it/80x80" alt="filler" /></div>
                          <div class="col-xs-10 col-md-11">
                                <div>
                                     <div>
                                   <h3>Ruby UpMeet</h3>
                                   <h4>67 Members</h4>
                                    <div class="mic-info">
                                        <h5>Next UpMeet</h5>
                                        <p>Amelie's<br>
                                         2.17.2015<br>
                                         3:30-5:30 PM</p>
                                    </div>
                                </div>
                                <div class="paragraph-text">
                                    Program the Rubies with others. Austin pop-up leggings. Vice selfies fixie, health goth retro small batch 8-bit Blue Bottle gastropub.
                                    <strong><p>34 members going</p></strong>
                                </div>
                                 <div class="action">
                                    <div class="row clear-space text-center">
                                     <a data-toggle="modal" href="#myModal" class="btn btn-danger">Leave Group</a>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </li>
                            </div>

             <!--modal -->

        <div class="container">
         <div class="row">
          <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                    <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                               <h4 class="modal-title" id="myModalLabel">Leave Group</h4>
              </div>
                  <div class="modal-body">
                            <h4>Are you sure?</h4>
                      
                    <div class="modal-footer">
                     <div class="btn-group">
                              <button class="btn btn-primary" data-dismiss="modal">Stay</button>
                              <button class="btn btn-danger">Go</button>
                   </div>
                  </div>
                 </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->
              </div>
             </div>
            </div>
           </div> 
          </div>
         </div>
        </div>
  
            <!--modal -->
   
      <!--</div>-->
      


     
           <footer class="footer footer-inverse">
      <div class="footer-inner text-center">
        <ul>
    <li><a href="#"><%= image_tag "twitter.png", :alt => "Twitter" %></a></li>
    <li><a href="#"><%= image_tag "facebook.png", :alt => "Facebook" %></a></li>
    <li><a href="#"><%= image_tag "blogger.png", :alt => "Blogger" %></a></li>
    <li><a href="#"><%= image_tag "youtube.png", :alt => "YouTube" %></a></li>
        </ul>
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="about">About Us</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="privacy">Privacy Policy</a></li>
          <li><a href="tos">Terms of Service</a></li>
        </ul>
        <p class="text-muted">&copy; Copyright 2015 Railblazers</p>
      </div>
    </footer>
    </div>

    <script data-require="jquery@*" data-semver="2.1.1" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <!--<script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>-->
    <script src="...assets/js/angular.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    
    <script src="assets/js/app.js"></script>
      
  </body>

</html>
