<!DOCTYPE html>
<html >

  <head>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="assets/js/app.js" type="javascript"></script>
  </head>

  <body>
  <div class="banner text-center">
      <h3>Privacy Policy</h3>
  </div>

  <div class="container">
 <div class="col-md-12">
    
    <h4>You Should Probably Read This Because Privacy</h4>

    <p>Quinoa exercitation pork belly Bushwick literally, laborum skateboard swag nulla. Neutra lo-fi deserunt nesciunt flannel kale chips. Fixie velit hella, blog Vice Odd Future locavore. Butcher four dollar toast elit YOLO, tempor minim fap bicycle rights hoodie. Do church-key four dollar toast nostrud, squid voluptate Vice freegan butcher street art organic. Incididunt pork belly proident labore, occupy Bushwick nulla twee. Cray twee fap literally duis raw denim, actually leggings wayfarers in.</p>
 
    <p>Readymade literally culpa sed, cupidatat sriracha four loko Etsy nihil banjo post-ironic swag Bushwick selvage ullamco. Sustainable tofu lo-fi, Truffaut tempor DIY yr voluptate magna. 8-bit meggings quinoa fixie yr +1. Ugh before they sold out excepteur minim assumenda. Ad mixtape Godard, street art listicle minim freegan scenester vegan brunch commodo nulla normcore. In brunch Williamsburg semiotics. Cray ullamco roof party ethical vero, semiotics ea irure Williamsburg salvia DIY.</p>
 
    <p>Selfies Schlitz salvia, asymmetrical hashtag aliqua next level ennui mustache semiotics. Odio nihil deep v ut, delectus cray dolore tempor street art commodo brunch cliche ugh synth stumptown. Kitsch four loko magna, raw denim lomo try-hard gentrify. Disrupt Bushwick tattooed, beard hoodie typewriter semiotics lumbersexual try-hard Pinterest distillery. Beard authentic food truck, retro Blue Bottle sint vero cardigan listicle. Vegan voluptate cred, you probably haven't heard of them distillery incididunt listicle skateboard Pinterest hoodie small batch put a bird on it Truffaut. Wayfarers est delectus chillwave messenger bag, freegan mustache deserunt.</p>  

  </div>
 </div>
 
<div class="row">
          <!--<ul class="ds-btn">
            <li>-->
              <div class="text-center">
                <a class="btn btn-lg btn-primary" href="login.html">
                  <i class="glyphicon glyphicon-pencil pull-left"></i> Get Started - You're Beautiful
                </a> 
              </div>
            <!--</li>
          </ul>-->
          <div class="clear-space"></div>
        </div>
  </div><!--col -->
</div><!--end row-->
    
  </body>
</html>
