/* Styles go here */

body {
  font-family:'Open Sans', Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  font-family:'Open Sans', Arial, sans-serif !important;
  font-weight:normal;
  margin:20px 0;
}

h1{
  font-weight:bold;
}

.breadcrumb{
  background-color:#fff;
}

.clear-space{
  padding:1em;
}

.form-fieldset {
  padding:10px;
  border:1px solid #d1d1d1;
}

.footer {
  background-color:#222;
  padding:10px 0;
  min-height: 5em;
}

.footer-inner {
  padding:2em 0;
}

.footer ul {
  list-style-type:none;
}

.footer ul li {
  display:inline-block;
  padding:0 15px;
}

.footer ul li a {
  color:#fff;
  text-decoration: none;
}

.footer ul li a:hover{
  color:#d1d1d1;
}

.footer ul li a img {
  width:50px;
}

.btn {
  border-radius:0px;
}

.ds-btn li{ list-style:none; float:right; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}

.navbar-brand {
  margin-top:-15px;
}

.navbar-right > button, .navbar-right > img {
  margin-top:7px;
  margin-right:5px;
}

.remove-margin{
  margin-bottom:0px;
}

.navbar{
  margin-bottom:0;
}

.jumbotron{
  margin-bottom:0;
}

.green {
  background-color:#1A9A7D;
  border-radius:0;
}

.green:hover{
  background-color:#0A614D;
}

.red{
  border-radius:0px;
}

.banner {
  background-color:#515151;
  color:#fff;
  padding:8px;
}

.pin-background{
  background-color:rgb(248, 248, 248);
  border:1px solid #cfcfcf;
  width:100%;
  padding:15px;
}

.pin-background > img {
  width:100%;
}

.cheat-background {
  background-color:#222;
}

.content-background{
  background-color:#fff;
}

.sidebar{
  background-color:#222;
}

/*.sidebar {
  border:1px solid #d1d1d1;
  background-color:#f1f1f2;
  height:100%;
}

.sidebar .link {
  display:block;
  background-color:#dddddd;
  border:1px solid #d1d1d1;
  padding:5px;
  margin:5px -15px 0px;
  text-decoration:none;

}*/

.navbar .dropdown{
  display:inline-block;
  margin-right:10px;
}

a, a:hover, a:active {
  text-decoration: none;
}

.modal-dialog{
  z-index: 1150;
}